absl-py
astunparse==1.6.3
brotlicffi
certifi
cffi
charset-normalizer
contourpy
cycler
filelock
flatbuffers
fonttools
fsspec
gast
google-pasta
grpcio
h5py
idna
Jinja2==3.1.6
keras
kiwisolver
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.10.8
mdurl
ml_dtypes
mpi4py
mpmath==1.3.0
namex
networkx==3.6.1
numpy
opt-einsum
optree
packaging
pillow
protobuf
pycocotools==2.0.11
pycparser
Pygments
pyparsing
PySocks
python-dateutil
requests
rich
scipy==1.17.1
setuptools==80.10.2
six
sympy==1.14.0
tensorboard
tensorboard_data_server
tensorflow
termcolor
torch==2.10.0
torchvision==0.25.0
tornado
typing_extensions
urllib3
Werkzeug
wheel==0.46.3
wrapt